# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# Configuration files (Contains passwords/credentials)
config.ini

# Application logs
logs/
*.log
